#navMenu {
  margin:0;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  width: 2200px;
}

#navMenu ul {
  list-style: none;
  margin:0;
  padding:0;
  line-height: 30px;
}

#navMenu li {
  float:left;
  margin: 0;
  padding: 0;
  position:relative;
  background-color: #999;
}

#navMenu ul li a {
  width: 200px;
  height: 100px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#navMenu ul ul {
  position: absolute;
  top: 30px;
  visibility: hidden;
}

#navMenu ul li:hover ul {
  visibility: visible;
}

#navMenu a:hover {
  color:#000;
}

.clearfloat {
  clear: both;
}

p.tekst1 {
      font-size: 2.2em;
      font-family: "varelaround", Times, serif;
      text-align: center;
    }


    .call-outs-container1 {
    display: flex;
    justify-content: flex-start;

    }


    .call-out {
      width: 200px;
      box-sizing: border-box;
      margin-bottom: 20px;
      flex-basis: 40%;
    }



    #div2 {
        width: 400px;
        height: auto;
